################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flows/.vs/Flows/v16
/Flows/Flows.ServiceHost/obj
/.vs
