################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flows/.vs/Flows/v16
/Flows/Flows.ServiceHost/obj
/.vs
/Flows/.vs/Flows/config
/Flows/Flows.ServiceHost/bin/Debug/net5.0
/Flows/.vs/Flows/DesignTimeBuild
