################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flows/.vs/Flows/v16
/Flows/Flows.ServiceHost/obj
/.vs
/Flows/.vs/Flows/config
/Flows/Flows.ServiceHost/bin/Debug/net5.0
/Flows/.vs/Flows/DesignTimeBuild
/Flows/Flows.ServiceHost/Properties/PublishProfiles
/Flows/Flows.ServiceHost/Properties/ServiceDependencies
/Flows/Flows.ServiceHost/bin/Release/net5.0
/Flows/DataAccess/obj
/Flows/Flows.DataAccess/bin/Debug/net5.0
/Flows/Flows.DataAccess/obj
/Flows/Flows.Domain/bin/Debug/net5.0
/Flows/Flows.Domain/obj
