@model Credential

@{
    ViewData["Title"] = "Login to Flows";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Login" asp-action="SignIn" method="post">
    <div>
        <label asp-for="EmailAddress">Email Address</label>
        <input asp-for="EmailAddress" />
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
    </div>


</form>
